In [13]:
import pandas as pd

data1={'prot1':['A','B'],
       'prot2':['C','D']}

df1=pd.DataFrame(data1)

In [14]:
df1

  prot1 prot2
0     A     C
1     B     D

In [30]:
data2={'prot1':['A','B','A','B', 'K','L','E','F'],
       'prot2':['C','D','G','C','G','H','C', 'E']}

df2=pd.DataFrame(data2)
df2

  prot1 prot2
0     A     C
1     B     D
2     A     G
3     B     C
4     K     G
5     L     H
6     E     C
7     F     E

In [51]:
df2.loc[(df2['prot1'].isin(df1['prot1'])==False) | (df2['prot2'].isin(df1['prot2'])==False)]

  prot1 prot2
2     A     G
4     K     G
5     L     H
6     E     C
7     F     E

In [50]:
df2.loc[~(df2['prot1'].isin(df1['prot1'])) & ~(df2['prot2'].isin(df1['prot2']))]

  prot1 prot2
4     K     G
5     L     H
7     F     E

In [74]:
#string_data1=df1.to_string(header=False,
#                  index=False,
#                  index_names=False).split('\n')
#vals1=['-'.join(i.split()) for i in string_data1]

In [75]:
#vals1

['A-C', 'B-D']

In [76]:
#string_data2=df2.to_string(header=False,
#                  index=False,
#                  index_names=False).split('\n')
#vals2=['-'.join(i.split()) for i in string_data2]
#vals2

['A-C', 'B-D', 'A-G', 'B-C', 'K-G', 'L-H', 'E-C', 'F-E']

In [77]:
#new_df1=pd.Series(vals)
#new_df2=pd.Series(vals2)

In [78]:
#new_df2[new_df2.isin(new_df1)==False]

0    A-C
1    B-D
2    A-G
3    B-C
4    K-G
5    L-H
6    E-C
7    F-E
dtype: object

In [85]:
new_df1=df1['prot1']+ '-' + df1['prot2']
new_df1

0    A-C
1    B-D
dtype: object

In [86]:
new_df2=df2['prot1'] + '-' +df2['prot2']
new_df2

0    A-C
1    B-D
2    A-G
3    B-C
4    K-G
5    L-H
6    E-C
7    F-E
dtype: object

In [87]:
new_df2[new_df2.isin(new_df1)==False]

2    A-G
3    B-C
4    K-G
5    L-H
6    E-C
7    F-E
dtype: object